.squeeze-animation {
    transition: transform 0.2s ease;
}

.squeeze-animation:hover {
    transform: scale(1.1);
}

.page-btn {
    @layer text-xl;
    @apply  p-3 px-5 font-semibold text-gray-600 rounded-full hover:bg-blue-600 hover:bg-opacity-30 squeeze-animation;
}

.chevron-btn{
    @apply p-1 rounded-full hover:bg-blue-600 hover:bg-opacity-30 squeeze-animation ;
}

.pagination-class {
    @apply flex justify-center items-center m-3;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}